.additionally {
  &__title {
    color: #000;
    font-size: 24px;
    line-height: 26px;
  }
  &__text {
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
  &__list {
    display: grid;
    @media (min-width:$tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 123px;
    }
    @media (min-width:$desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 0 104px;
    }
  }
}
