.additionally {
  margin: 0 auto 33px;
  border: none;
  width: 320px;
  padding: 0 20px;
  display: grid;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: #68b738;
    top: 15px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto 50px;
    padding: 0 30px;

    &::before {
      width: 768px;
      height: 2px;
      z-index: -1;
      left: 0%;
      top: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto 57px;

    &::before {
      width: 1440px;
      height: 2px;
      z-index: -1;
      left: 0%;
      top: 24px;
    }
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 26px;
    float: left;
    font-weight: 400;
    margin-bottom: 40px;
    margin-left: -3px;

    @media (min-width: $tablet-width) {
      padding: 0 42px;
      background-color: #ffffff;
      max-width: 295px;
      margin-bottom: 63px;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__text {
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 45px;
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;
      padding-left: 60px;
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    gap: 15px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 60px;
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 0 80px;
    }
  }

  &__item {
    list-style: none;
  }

  &__label {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__mark {
    position: absolute;
    top: -5px;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    outline: 1px solid #cdcdcd;

    &:last-child {
      top: -7px;
    }

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__input[type="checkbox"]:checked + &__mark::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icon/stak.svg#check-mark");
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      top: 57%;
      left: 53%;
    }
  }
}
