.additional-goods {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 54px;
    height: 2px;
    background-color: #68b738;
    top: 40px;
    right: -20px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 768px;
      left: -30px;
      top: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 1440px;
      left: -6%;
      top: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 935px 245px;
    grid-template-rows: 36px auto;
    gap: 80px;
  }

  &__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding-left: 41px;
    }
  }

  &__item {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 27px 29.2px 40px;
    padding: 13px 0 19.5px;
    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 168px 92px;
      grid-template-rows: 45px 40px;
      padding: 26px 38px 27px;
      border-left: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd;
      border-top: 1px solid #cdcdcd;
      margin-bottom: -1px;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 325px 243px 82px 244px;
      grid-template-rows: auto;
      align-items: center;
      padding: 15px 0 16px;
      border-left: none;
      border-right: none;
    }
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding: 25px 0 36px;
    margin: 0;
    border-bottom: 1px solid #cdcdcd;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 80px;
      border: none;
      background-color: #ffffff;
      max-width: 419px;
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    color: #222222;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    grid-column: 1 / -1;

    @media (min-width: $tablet-width) {
      grid-column: 1;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__volume {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      padding-top: 2px;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }

    &--margin {
      margin-left: 2px;

      @media (min-width: $tablet-width) {
        margin-left: 0;
      }
    }
  }

  &__price {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 14px;
    text-align: right;

    @media (min-width: $tablet-width) {
      text-align: right;
      font-size: 16px;
      line-height: 20px;
      margin-right: 2px;
      margin-top: 1px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      margin-top: 2px;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @media (min-width: $desktop-width) {
      grid-column: 4;
    }
  }

  &__aside {
    background: url("../../img/catalog/mobile/cat-prize-mob.jpg") center center no-repeat;
    padding: 57px 61px 43px 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: center;

    @media (min-resolution: 2dppx) {
      background: url("../../img/catalog/mobile/cat-prize-mob@2x.jpg") center center no-repeat;
      background-size: 279px auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(104, 183, 56, 0.85);
    }

    @media (min-width: $tablet-width) {
      background: url("../../img/catalog/tablet/cat-prize-tab.jpg") center center no-repeat;
      padding: 54px 125px 61px 77px;
      flex-direction: row;

      @media (min-resolution: 2dppx) {
        background: url("../../img/catalog/tablet/cat-prize-tab@2x.jpg") center center no-repeat;
        background-size: 707px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background: url("../../img/catalog/desktop/cat-prize-desk.jpg") center center no-repeat;
      flex-direction: column;
      padding: 56px 42px 43px;

      @media (min-resolution: 2dppx) {
        background: url("../../img/catalog/desktop/cat-prize-desk@2x.jpg") center center no-repeat;
        background-size: 245px auto;
      }
    }
  }

  &__aside-icon {
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../img/icon/stak.svg#gift");
    background-repeat: no-repeat;
    margin-bottom: 47px;
    position: relative;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-top: 3px;
      width: 80px;
      height: 83px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 34px;
      margin-top: 1px;
      width: 82px;
      height: 85px;
    }
  }

  &__aside-text {
    color: #ffffff;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 161px;
      margin-left: auto;
      text-align: left;
      margin-top: 9px;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
      margin-left: 0;
    }
  }
}
