.additionally {
  &__title {
    color: #000;
    font-size: 24px;
    line-height: 26px;
  }
  &__text {
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
