.advantages {
  margin-bottom: 49px;

  &__wrapper {
    padding: 0 20px;
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
      width: 768px;
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      padding: 0 110px;
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 230px);
      grid-template-rows: repeat(2, 280px);
      gap: 37px 154px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 230px 246px 248px 250px;
      grid-template-rows: 280px;
      gap: 0 94px;
    }
  }

  &__item {
    list-style: none;
    margin-bottom: 20px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      flex-direction: column;
      width: 247px;
    }
  }

  &__title {
    color: #000000;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    padding: 0 0 41px;
    margin: -1px 0 0 0;

    @media (min-width: $tablet-width) {
      padding: 15px 0 73px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__icon {
    margin-right: 20px;
    min-width: 60px;
    height: 60px;
    background-color: #68b738;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin: 0 0 29px 0;

      &::before {
        top: 51%;
      }
    }
  }

  &__text {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin: 1px 0 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text--br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &__item--one {
    @media (min-width: $tablet-width) {
      background: url("../../img/index/advantages-content-1.png") no-repeat;
      background-position: 72% 0;

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/advantages-content-1@2x.png") no-repeat;
        background-size: 71px auto;
      }
    }
  }

  &__item--two {
    @media (min-width: $tablet-width) {
      background: url("../../img/index/advantages-content-2.png") top right no-repeat;
      background-position: 91% 0;

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/advantages-content-2@2x.png") top right no-repeat;
        background-size: 113px auto;
      }
    }
  }

  &__item--three {
    @media (min-width: $tablet-width) {
      background: url("../../img/index/advantages-content-3.png") top right no-repeat;
      background-position: 91% 0;

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/advantages-content-3@2x.png") top right no-repeat;
        background-size: 112px auto;
      }
    }
  }

  &__item--four {
    @media (min-width: $tablet-width) {
      background: url("../../img/index/advantages-content-4.png") top right no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/advantages-content-4@2x.png") top right no-repeat;
        background-size: 121px auto;
      }
    }
  }

  &__icon--nutrition {
    &::before {
      background-image: url("../../img/icon/stak.svg#nutrition");
      background-repeat: no-repeat;
      width: 24.8px;
      height: 28px;
    }
  }

  &__icon--powder {
    &::before {
      background-image: url("../../img/icon/stak.svg#powder");
      background-repeat: no-repeat;
      width: 26px;
      height: 28.5px;
    }
  }

  &__icon--eat {
    &::before {
      background-image: url("../../img/icon/stak.svg#eat");
      background-repeat: no-repeat;
      width: 25px;
      height: 30px;

      @media (min-width: $tablet-width) {
        width: 26px;
        height: 32px;
      }
    }
  }

  &__icon--watch {
    &::before {
      background-image: url("../../img/icon/stak.svg#watch");
      background-repeat: no-repeat;
      width: 27px;
      height: 31px;

      @media (min-width: $tablet-width) {
        top: 49%;
        left: 51%;
      }
    }
  }
}
