.box {
  width: 320px;
  padding: 0 20px;
  display: grid;
  gap: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
    grid-template-columns: 284px 176px;
    gap: 59px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    grid-template-columns: 570px 174px;
    gap: 80px;
  }

  &__button {
    max-width: 570px;

    @media (min-width: $tablet-width) {
      padding: 13px 10px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__description {
    font-family: "Lato", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }
}
