.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 55px 69px 40px;
  padding: 20px 0 25px;
  &__link {
    grid-column: 1;
    grid-row: 1 / -2;
  }
  &__title {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &--text {
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  &__title--show {
    color: #111;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &__description--show {
    color: #444444;
    font-size: 12px;
    line-height: 16px;
  }
  &__link--show {
    color: #444444;
    background-color: #F2F2F2;
  }
  &__button {
    grid-column: 1 / -1;
  }
}
