.catalog {
  &__wrapper {
    padding: 0 20px;
    width: 320px;
    margin: 0 auto;
    @media (min-width:$tablet-width) {
      padding: 0 30px;
      width: 768px;
    }
    @media (min-width:$desktop-width) {
      width: 1440px;
      padding: 0 110px;
    }
  }
  &__title {
    color: #000;
    font-size: 36px;
    line-height: 36px;
  }
  &__list {
    display: grid;
    @media (min-width:$tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }
    @media (min-width:$desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }
}
