.comment {
  border: none;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto 23px;
  position: relative;
  max-height: 214px;

  &::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 2px;
    background-color: #68b738;
    top: 15px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto 41px;
    padding: 40px 30px 24px;
    max-height: 362px;

    &::before {
      width: 768px;
      z-index: -1;
      left: 0;
      top: 64px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto 71px;
    max-height: 287px;

    &::before {
      width: 1440px;
      height: 2px;
      z-index: -1;
      left: 0%;
      top: 22px;
    }
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 38px;
    padding: 0;
    float: left;

    @media (min-width: $tablet-width) {
      margin: 0 0 89px;
      padding: 0 40px;
      background-color: #ffffff;
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 78px;
    }
  }

  &__area {
    width: 100%;
    min-height: 148px;
    resize: none;
    padding: 14px 15px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    border: none;
    outline: 1px solid #e7e7e7;

    @media (min-width: $tablet-width) {
      padding: 10px 21px;
      margin: 0 40px;
      width: 88.5%;
      font-size: 20px;
      line-height: 30px;
      min-height: 173px;
    }

    @media (min-width: $desktop-width) {
      width: 93.8%;
    }

    &:hover {
      outline-color: #cdcdcd;
    }

    &:focus {
      outline: 2px solid #444444;
    }
  }
}
