.wrapper {
  padding: 0 20px;
}
.button {
  width: 100%;
  padding: 10px 14px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68B738;
  color: #FFF;
  cursor: pointer;
}
