.contacts {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }

  &__wrapper {
    padding: 26px 20px 26px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      padding: 59px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 59px 75px 59px 80px;
      position: absolute;
      left: 110px;
      top: 95px;
      width: 565px;
      z-index: 1;
    }
  }

  &__wrapper--grey {
    background-color: #f2f2f2;

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }

  &__title {
    color: #111111;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    width: 140px;
    padding: 0;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 163px;
      font-size: 20px;
      line-height: 26px;
      margin-top: 2px;
    }
  }

  &__text {
    font-family: "Lato", sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 20px;
    width: 140px;
    font-style: normal;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      width: 157px;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      width: 161px;
      letter-spacing: 0.99px;
    }
  }

  &__text-street {
    margin: 0;
    letter-spacing: 0.15px;

    @media (min-width: $tablet-width) {
      text-align: right;
      letter-spacing: 0;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      word-spacing: -5px;
      letter-spacing: 0.96px;
      width: 171px;
    }
  }

  &__text-street--index {
    letter-spacing: 0;

    @media (min-width: $desktop-width) {
      word-spacing: 0;
      letter-spacing: 0;
    }
  }

  &__text-street--catalog {
    letter-spacing: 0;

    @media (min-width: $desktop-width) {
      letter-spacing: 0.96px;
    }
  }

  &__text-street--form {
    letter-spacing: 0;
  }

  &__text-city {
    margin: 0;

    @media (min-width: $tablet-width) {
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      letter-spacing: 0.44px;
      margin-bottom: 1px;
    }
  }

  &__text-city--index {
    @media (min-width: $desktop-width) {
      letter-spacing: 0.14px;
    }
  }

  &__map {
    background: url("../../img/index/rectangle-mob.png") center center no-repeat;
    height: 362px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 57px;
      height: 53px;
      background: url("../../img/index/map-pin.png") center center no-repeat;
      top: 46%;
      left: 51%;
      transform: translate(-50%, -50%);
      background-size: 57px;
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/index/rectangle-mob@2x.png") center center no-repeat;
      background-size: 320px auto;

      &::before {
        background: url("../../img/index/map-pin@2x.png") center center no-repeat;
        background-size: 57px;
      }
    }

    @media (min-width: $tablet-width) {
      background: url("../../img/index/rectangle-tab.png") center center no-repeat;
      width: 768px;
      height: 400px;

      &::before {
        width: 113px;
        height: 106px;
        background-size: 113px 106px;
        top: 50%;
        left: 50.6%;
      }

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/rectangle-tab@2x.png") center center no-repeat;
        background-size: 768px auto;

        &::before {
          background-size: 113px 106px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      background: url("../../img/index/rectangle-desk.png") center center no-repeat;
      width: 1440px;

      &::before {
        top: 46%;
        left: 67%;
      }

      @media (min-resolution: 2dppx) {
        background: url("../../img/index/rectangle-desk@2x.png") center center no-repeat;
        background-size: 1440px auto;
      }
    }
  }

  &__iframe {
    display: block;
    border: none;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 400px;
    }
  }

  &--catalog {
    padding: 1px 0 0;
  }
}
