.footer {
  padding: 20px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding: 36.5px 31px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 47.5px 110px;
  }

  &__logo {
    display: block;
    width: 128px;
    height: 24px;
    padding: 32px 0;
    border-bottom: 1px solid #d9d9d9;
    mask-image: url("../../img/icon/stak.svg#footer-logo");
    background-color: #111111;

    &:hover {
      background-color: #3e3e3e;
    }

    &:active {
      background-color: #6b6b6b;
    }

    @media (min-width: $tablet-width) {
      border: none;
      width: 128px;
      padding: 24px 0 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 19px 0 20px;
    }
  }

  &__academy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      border: none;
      width: auto;
      justify-content: baseline;
    }
  }

  &__academy-text {
    font-family: "Lato", sans-serif;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;

    @media (min-width: $tablet-width) {
      margin-right: 21px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 23px;
    }
  }

  &__academy-logo {
    mask-image: url("../../img/icon/stak.svg#htmlacademy");
    background-color: #666666;
    width: 27px;
    height: 34px;

    &:hover {
      background-color: #68b738;
    }

    &:focus {
      background-color: #68b738;
    }
  }
}
