.form {
  &__title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }

  &__text {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
