.hero {
  background: url("../../img/index/hero-background-mobile.jpg") top center no-repeat;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto 19px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 178px;
    right: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }

  @media (min-resolution: 2dppx) {
    background: url("../../img/index/hero-background-mobile@2x.jpg") top center no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 768px;
    background: transparent;
    margin: 0 auto;

    &::before {
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 224px 110px 0;
    background: url("../../img/index/hero-background-desktop.jpg") center right no-repeat;
    min-height: 694px;
    margin-bottom: 82px;

    &::before {
      background-color: rgba(104, 183, 56, 0.85);
      left: 50%;
      bottom: 0;
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/index/hero-background-desktop@2x.jpg") top right no-repeat;
      background-size: 720px auto;
    }
  }

  &__title {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 26px 0 26px;
    position: relative;

    @media (min-width: $tablet-width) {
      text-align: left;
      padding: 59px 0 41px 89px;
      color: #000000;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 40px 80px;
      word-spacing: -0.6px;
      max-width: 555px;
    }
  }

  &__description {
    padding: 0;
    margin: 0 3px 0 0;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom: 29px;
    position: relative;

    @media (min-width: $tablet-width) {
      text-align: left;
      padding: 0 0 0 90px;
      color: #000000;
      margin-bottom: 21px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 0 80px;
      margin-bottom: 51px;
      max-width: 555px;
    }
  }

  &__picture {
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 143px;
      left: 49.8%;
      transform: translate(-29%);
    }
  }

  &__image {
    display: block;
    position: relative;
  }

  &__link {
    margin-top: 4px;
    display: block;

    @media (min-width: $tablet-width) {
      width: 244px;
      position: absolute;
      left: 120px;
      top: 285px;
      padding: 15px 14px;
      font-size: 20px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: 0;
      left: 0;
      margin-left: 80px;
    }
  }
}
