.main-nav {
  @media (min-width: $tablet-width) {
    margin-right: 6px;
  }

  &__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 18px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -1px;
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 1);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: -1px;
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 1);
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__line {
    position: absolute;
    top: 4px;
    left: -1px;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      margin-right: 8px;
    }
  }

  &--active &__list {
    display: block;
  }

  &--active &__line {
    display: none;
  }

  &--active &__burger {
    &::before {
      transform: rotate(47deg);
      top: 4px;
      left: 4px;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 12px;
      left: 4px;
    }
  }
}
