.owner {
  padding: 26px 17px 26px;
  border: none;
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: grid;
  gap: 36px;

  &::before {
    content: "";
    position: absolute;
    width: 93px;
    height: 2px;
    background-color: #68b738;
    top: 42px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 26px 30px 24px;
    gap: 76px;

    &::before {
      width: 188%;
      left: -44%;
      top: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 70px;

    &::before {
      width: 135%;
      left: -16%;
      top: 22px;
    }
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    float: left;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
      max-width: 594px;
      background-color: #ffffff;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__label {
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 14px;
    margin-left: 2px;
    white-space: nowrap;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 15px;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 569px 572px;
      gap: 81px;
      margin: 0 0 70px;
    }
  }

  &__item {
    list-style: none;
    display: flex;
  }

  &__input {
    font-family: "Oswald", sans-serif;
    width: 100%;
    padding: 11px 15px 8px;
    border: none;
    outline: 1px solid #e7e7e7;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;
      padding: 11px 20px;
    }

    &:hover {
      outline-color: #cdcdcd;
    }

    &:focus {
      outline: 2px solid #444444;
    }
  }

  &__item--email {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 16px;
      width: 20px;
      height: 20px;
      mask-image: url("../../img/icon/stak.svg#email");
      background-color: #000000;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  &__item--phone {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 54%;
      transform: translate(0, -50%);
      right: 17px;
      width: 20px;
      height: 20px;
      mask-image: url("../../img/icon/stak.svg#phone");
      background-color: #000000;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }
}
