.page-form {
  margin-top: 27px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &__wrapper {
    width: 320px;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      width: 768px;
      margin: 0 auto;
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      margin: 0 auto;
      padding: 188px 70px 0;
    }
  }

  &__title {
    margin: 0 0 37px;
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      padding: 0 40px;
      margin: 0 0 56px;
    }
  }

  &__text {
    margin: 0;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding: 0 41px 24px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 40px;
      margin-bottom: 66px;
    }
  }
}
