.site-list {
  display: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link--active {
    position: relative;
    border-bottom: 2px solid #68b738;
  }

  &__link--active-white {
    border-color: #68b738;

    @media (min-width: $desktop-width) {
      border-color: #ffffff;
    }
  }

  &__link {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      padding: 10px 0 6px;
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      padding: 8px 0;
      color: #ffffff;
      font-size: 20px;
      line-height: normal;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link--black {
    color: #000000;
  }
}
