.social-list {
  margin: 0;
  padding: 19px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 132px;

  @media (min-width: $tablet-width) {
    margin-left: 37px;
    padding: 24px 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
    padding: 21px 0 20px;
  }

  &__item {
    list-style: none;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 28px;
    height: 22px;

    &:active {
      opacity: 0.3;
    }
  }

  &__link--vk {
    mask-image: url("../../img/icon/vkontakte.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover, &:focus {
      background-color: #68b738;
    }
  }

  &__link--youtube {
    mask-image: url("../../img/icon/youtube.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover, &:focus {
      background-color: #68b738;
    }
  }

  &__link--telegram {
    mask-image: url("../../img/icon/telegram.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover, &:focus {
      background-color: #68b738;
    }
  }
}
