.social-list {
  margin: 0;
  padding: 19px 0 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-left: 37px;
    padding: 28px 0 20px;
    border: none;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
    padding: 25px 0 20px;
  }

  &__item {
    list-style: none;
    margin-right: 24px;
    margin-bottom: 5px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 28px;
    height: 22px;

    &:active {
      opacity: 0.3;
    }
  }

  &__link--vk {
    mask-image: url("../../img/icon/vkontakte.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover {
      background-color: #68b738;
    }

    &:focus {
      background-color: #68b738;
    }
  }

  &__link--youtube {
    mask-image: url("../../img/icon/youtube.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover {
      background-color: #68b738;
    }

    &:focus {
      background-color: #68b738;
    }
  }

  &__link--telegram {
    mask-image: url("../../img/icon/telegram.svg");
    background-color: #666666;
    background-repeat: no-repeat;

    &:hover {
      background-color: #68b738;
    }

    &:focus {
      background-color: #68b738;
    }
  }
}
