*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.button {
  width: 100%;
  padding: 10px 14px;
  border: none;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.button:hover, .button:focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
}
.page__body {
  padding: 0;
  margin: 0;
}

.main-header {
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 1440px) {
  .main-header {
    background: transparent;
    width: 1440px;
    margin: 0 auto;
  }
}
.main-header__wrapper {
  padding: 13px 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    padding: 25px 30px 0;
    width: 768px;
    margin: 0 auto;
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    padding: 55px 106px 0 110px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.main-header__logo:hover, .main-header__logo:focus {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
.main-header__logo-icon {
  width: 33px;
  height: 38px;
}
@media (min-width: 768px) {
  .main-header__logo-icon {
    width: 60px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-icon {
    width: 70px;
    height: 59px;
  }
}
.main-header__logo-image {
  margin-left: 56px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .main-header__logo-image {
    width: 101px;
    height: 18px;
    margin-left: 13px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-image {
    width: 118px;
    height: 21px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    margin-right: 6px;
  }
}
.main-nav__burger {
  display: block;
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.main-nav__burger::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
}
.main-nav__burger::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
}
@media (min-width: 768px) {
  .main-nav__burger {
    display: none;
  }
}
.main-nav__line {
  position: absolute;
  top: 4px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
}
@media (min-width: 1440px) {
  .main-nav--catalog {
    margin-right: 8px;
  }
}
.main-nav--active .main-nav__list {
  display: block;
}
.main-nav--active .main-nav__line {
  display: none;
}
.main-nav--active .main-nav__burger::before {
  transform: rotate(47deg);
  top: 4px;
  left: 4px;
}
.main-nav--active .main-nav__burger::after {
  transform: rotate(-45deg);
  bottom: 12px;
  left: 4px;
}

.site-list {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
  }
}
.site-list__item {
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    margin-right: 34px;
    border: none;
  }
}
.site-list__item:last-child {
  margin-right: -2px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item:last-child {
    border: none;
  }
}
@media (min-width: 768px) {
  .site-list__link--active {
    position: relative;
    border-bottom: 2px solid #68b738;
  }
}
.site-list__link--active-white {
  border-color: #68b738;
}
@media (min-width: 1440px) {
  .site-list__link--active-white {
    border-color: #ffffff;
  }
}
.site-list__link {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  text-align: center;
  padding: 23px 0 22px;
  margin-right: 2px;
}
@media (min-width: 768px) {
  .site-list__link {
    padding: 10px 0 6px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    padding: 6px 0;
    color: #ffffff;
    font-size: 20px;
    line-height: normal;
  }
}
@media (min-width: 768px) {
  .site-list__link--catalog {
    padding: 10px 0 4px;
  }
}
.site-list__link:hover, .site-list__link:focus {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
.site-list__link--black {
  color: #000000;
}

.hero {
  background: url("../../img/index/hero-background-mobile.jpg") top center no-repeat;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto 20px;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 178px;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background: url("../../img/index/hero-background-mobile@2x.jpg") top center no-repeat;
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 0 30px;
    width: 768px;
    background: transparent;
    margin: 0 auto;
  }
  .hero::before {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .hero {
    width: 1440px;
    padding: 224px 110px 0;
    background: url("../../img/index/hero-background-desktop.jpg") center right no-repeat;
    min-height: 694px;
    margin-bottom: 82px;
  }
  .hero::before {
    background-color: rgba(104, 183, 56, 0.85);
    left: 50%;
    bottom: 0;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../../img/index/hero-background-desktop@2x.jpg") top right no-repeat;
    background-size: 720px auto;
  }
}
.hero__title {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 26px 0 26px;
  position: relative;
}
@media (min-width: 768px) {
  .hero__title {
    text-align: left;
    padding: 59px 0 41px 89px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    padding: 0 0 40px 80px;
    word-spacing: -0.6px;
  }
}
.hero__description {
  padding: 0;
  margin: 0 3px 0 0;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 29px;
  position: relative;
}
@media (min-width: 768px) {
  .hero__description {
    text-align: left;
    padding: 0 0 0 90px;
    color: #000000;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__description {
    padding: 0 0 0 80px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .hero__picture {
    position: absolute;
    top: 143px;
    left: 49.8%;
    transform: translate(-29%);
  }
}
.hero__image {
  display: block;
  position: relative;
}
.hero__button {
  margin-top: 3px;
}
@media (min-width: 768px) {
  .hero__button {
    width: 244px;
    position: absolute;
    left: 120px;
    top: 286px;
    padding: 15px 14px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .hero__button {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 80px;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .program__list {
    padding: 0 30px;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .program__list {
    width: 1440px;
    padding: 0 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.program__item {
  display: grid;
  grid-template-columns: 70px 157px;
  grid-template-rows: 50px 1fr 39px;
  padding: 24px 20px 18px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  list-style: none;
}
@media (min-width: 768px) {
  .program__item {
    grid-template-columns: 340px 200px;
    grid-template-rows: 36px 1fr 38px;
    gap: 0 53px;
    padding: 77px 63px 68px 52px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1440px) {
  .program__item {
    width: 570px;
    grid-template-columns: 162px 295px;
    grid-template-rows: 100px 1fr 38px;
    gap: 0;
    padding: 46px 61px 52px 52px;
    margin-bottom: 55px;
  }
}
.program__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  align-self: center;
  margin: 0 0 2px;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 3px;
  }
}
.program__text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  grid-column: 1/-1;
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program__text {
    grid-column: 1;
    padding: 23px 0 33px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .program__text {
    grid-column: 1/-1;
    padding: 38px 0 29px;
  }
}
.program__link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: 1/-1;
  text-decoration: none;
  position: relative;
  margin-top: 20px;
}
.program__link::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 12px;
  background-image: url("../../img/icon/stak.svg#arrow");
  background-repeat: no-repeat;
  left: 102px;
  top: 1px;
}
@media (min-width: 768px) {
  .program__link {
    grid-column: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
  .program__link::before {
    left: 130px;
    top: 9px;
  }
}
@media (min-width: 1440px) {
  .program__link {
    grid-column: 1/-1;
    margin-top: 0;
  }
}
.program__link:hover::before, .program__link:focus::before {
  width: 32px;
  background-position: center center;
}
.program__link:active {
  opacity: 0.3;
}
.program__icon {
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  grid-column: 1;
  position: relative;
}
@media (min-width: 768px) {
  .program__icon {
    width: 200px;
    height: 200px;
    grid-row: 1/-1;
    grid-column: 2;
    align-self: center;
    margin-bottom: -1px;
  }
}
@media (min-width: 1440px) {
  .program__icon {
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row: 1;
  }
}
.program__icon--slim::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon/stak.svg#program-slim");
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  display: block;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 768px) {
  .program__icon--slim::before {
    background-size: 140px;
    width: 140px;
    height: 194px;
    top: -10px;
  }
}
@media (min-width: 1440px) {
  .program__icon--slim::before {
    background-size: 70px;
    width: 70px;
    height: 97px;
    top: -7px;
  }
}
.program__icon--pro::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon/stak.svg#program-pro-mobile");
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  display: block;
  top: 12px;
  left: -7px;
}
@media (min-width: 768px) {
  .program__icon--pro::before {
    background-image: url("../../img/icon/stak.svg#program-pro");
    background-size: 268px;
    width: 268px;
    height: 112px;
    top: 50%;
    left: -15%;
    transform: translate(0, -50%);
  }
}
@media (min-width: 1440px) {
  .program__icon--pro::before {
    background-size: 134px;
    width: 134px;
    height: 56px;
    top: 48%;
    left: -19%;
  }
}

.advantages {
  margin-bottom: 49px;
}
@media (min-width: 1440px) {
  .advantages {
    margin-bottom: 28px;
  }
}
.advantages__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 0 30px;
    width: 768px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin-bottom: 27px;
  }
}
.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 280px);
    gap: 37px 154px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: 230px 246px 248px 250px;
    grid-template-rows: 280px;
    gap: 0 94px;
  }
}
.advantages__item {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .advantages__item:last-child {
    margin-left: -32px;
    width: 250px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    flex-direction: column;
    width: 247px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    width: 230px;
  }
}
@media (min-width: 1440px) {
  .advantages__item:nth-last-child(2) {
    margin-left: -15px;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .advantages__item:nth-last-child(3) {
    width: 246px;
  }
}
.advantages__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 0 0 41px;
  margin: -1px 0 0 0;
}
@media (min-width: 768px) {
  .advantages__title {
    padding: 15px 0 73px;
    font-size: 60px;
    line-height: 60px;
  }
}
.advantages__icon {
  margin-right: 20px;
  min-width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative;
}
.advantages__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .advantages__icon {
    width: 80px;
    height: 80px;
    margin: 0 0 29px 0;
  }
  .advantages__icon::before {
    top: 51%;
  }
}
@media (min-width: 1440px) {
  .advantages__icon::before {
    top: 50%;
  }
}
.advantages__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 1px 0 0;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.advantages__text--br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__text--br {
    display: block;
  }
}
@media (min-width: 768px) {
  .advantages__item--one {
    background: url("../../img/index/advantages-content-1.png") no-repeat;
    background-position: 72% 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages__item--one {
    background: url("../../img/index/advantages-content-1@2x.png") no-repeat;
    background-size: 71px auto;
    background-position: 72% 0;
  }
}
@media (min-width: 1440px) {
  .advantages__item--one {
    background-position: 79% 0;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .advantages__item--one {
    background-position: 79% 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--two {
    background: url("../../img/index/advantages-content-2.png") top right no-repeat;
    background-position: 92% 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages__item--two {
    background: url("../../img/index/advantages-content-2@2x.png") top right no-repeat;
    background-size: 113px auto;
    background-position: 92% 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--three {
    background: url("../../img/index/advantages-content-3.png") top right no-repeat;
    background-position: 91% 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages__item--three {
    background: url("../../img/index/advantages-content-3@2x.png") top right no-repeat;
    background-size: 112px auto;
    background-position: 91% 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--four {
    background: url("../../img/index/advantages-content-4.png") top right no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages__item--four {
    background: url("../../img/index/advantages-content-4@2x.png") top right no-repeat;
    background-size: 121px auto;
  }
}
.advantages__icon--nutrition::before {
  background-image: url("../../img/icon/stak.svg#nutrition");
  background-repeat: no-repeat;
  width: 24.8px;
  height: 28px;
}
.advantages__icon--powder::before {
  background-image: url("../../img/icon/stak.svg#powder");
  background-repeat: no-repeat;
  width: 26px;
  height: 28.5px;
}
.advantages__icon--eat::before {
  background-image: url("../../img/icon/stak.svg#eat");
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
}
@media (min-width: 768px) {
  .advantages__icon--eat::before {
    width: 26px;
    height: 32px;
  }
}
@media (min-width: 1440px) {
  .advantages__icon--eat::before {
    left: 51%;
  }
}
.advantages__icon--watch::before {
  background-image: url("../../img/icon/stak.svg#watch");
  background-repeat: no-repeat;
  width: 27px;
  height: 31px;
}
@media (min-width: 768px) {
  .advantages__icon--watch::before {
    top: 49%;
    left: 51%;
  }
}

.example__wrapper {
  padding: 25px 20px 40px;
  width: 320px;
  margin: 0 auto;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 0 30px;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    background-image: linear-gradient(#ffffff 55.3%, #f2f2f2 55.3%, #f2f2f2 100%);
    padding-bottom: 101px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 1440px;
    padding: 0 110px 66px;
    display: grid;
    grid-template-columns: 436px 560px;
    grid-template-rows: 206px 165px 132px 30px;
    gap: 0 224px;
    align-items: flex-start;
    background-image: linear-gradient(#ffffff 22.7%, #f2f2f2 22.7%, #f2f2f2 100%);
  }
}
.example__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: -1px 0 41px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    margin: 0 1px 60px;
    font-size: 60px;
    line-height: 60px;
    flex-basis: 100%;
    grid-row: 1;
  }
}
.example__text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    flex-basis: 100%;
    margin: 0 0 56px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    grid-column: 1;
    grid-row: 2;
    padding-right: 3px;
  }
}
.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .example__list {
    align-items: center;
    justify-content: flex-start;
    flex-basis: 75%;
  }
}
@media (min-width: 1440px) {
  .example__list {
    grid-column: 1;
    grid-row: 3;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 124px;
  position: relative;
  border: 1px solid #cdcdcd;
}
.example__item:first-child {
  margin-right: 32px;
}
@media (min-width: 768px) {
  .example__item:first-child {
    margin-right: 43px;
  }
}
@media (min-width: 1440px) {
  .example__item:first-child {
    margin-right: 42px;
  }
}
@media (min-width: 768px) {
  .example__item {
    width: 162px;
  }
}
.example__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0 15px;
}
@media (min-width: 768px) {
  .example__item-title {
    font-size: 30px;
    line-height: 37px;
    padding: 14px 0 19px;
  }
}
.example__item-description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  position: absolute;
  bottom: -16px;
  left: 21px;
  background: #eaeaea;
  width: 77px;
  padding: 0 8px;
}
@media (min-width: 768px) {
  .example__item-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: -5px;
    width: auto;
    left: 23px;
  }
}
@media (min-width: 1440px) {
  .example__item-description {
    background-color: #f2f2f2;
    bottom: -7px;
  }
}
@media (min-width: 768px) {
  .example__item-description--left {
    left: 9px;
  }
}
.example__expenses {
  color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 34px 0 20px;
}
@media (min-width: 768px) {
  .example__expenses {
    padding: 0;
    flex-basis: 24.5%;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 2px 2px;
  }
}
@media (min-width: 1440px) {
  .example__expenses {
    grid-column: 1;
    text-align: left;
    margin: -3px 0 0 1px;
    word-spacing: 0.6px;
  }
}
@media (min-width: 1440px) {
  .example__expenses-price {
    margin-left: 59px;
  }
}
.example__slider {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .example__slider {
    grid-template-columns: repeat(2, 280px);
    flex-basis: 100%;
    margin-top: 103px;
  }
}
@media (min-width: 1440px) {
  .example__slider {
    grid-column: 2;
    grid-row: 1/-1;
    margin-top: 2px;
  }
}
.example__line {
  position: absolute;
  height: 100%;
  width: 4px;
  top: 50%;
  left: 49.3%;
  transform: translate(0, -50%);
  background-color: #666666;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 768px) {
  .example__line {
    left: 49.9%;
  }
}
.example__thumb {
  position: absolute;
  background-image: url("../../img/icon/stak.svg#thumb");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.example__image {
  display: block;
  object-fit: cover;
  width: 140px;
  height: 256px;
}
@media (min-width: 768px) {
  .example__image {
    width: 280px;
    height: 512px;
  }
}
.example__image--left {
  object-position: left;
}
.example__image--right {
  object-position: right;
}

.contacts {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .contacts {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    width: 1440px;
  }
}
.contacts__wrapper {
  padding: 26px 20px 26px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 59px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    padding: 59px 75px 59px 80px;
    position: absolute;
    left: 110px;
    top: 95px;
    width: 565px;
    z-index: 1;
  }
}
.contacts__wrapper--grey {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .contacts__wrapper--grey {
    background-color: #ffffff;
  }
}
.contacts__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__title {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 2px;
  }
}
.contacts__text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contacts__text {
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .contacts__text {
    width: 161px;
    letter-spacing: 0.99px;
  }
}
.contacts__text-street {
  margin: 0;
  letter-spacing: 0.15px;
}
@media (min-width: 768px) {
  .contacts__text-street {
    text-align: right;
    letter-spacing: 0;
  }
}
@media (min-width: 1440px) {
  .contacts__text-street {
    text-align: left;
    word-spacing: -5px;
    letter-spacing: 0.96px;
    width: 171px;
  }
}
.contacts__text-street--index {
  letter-spacing: 0;
}
@media (min-width: 1440px) {
  .contacts__text-street--index {
    word-spacing: 0;
    letter-spacing: 0;
  }
}
.contacts__text-street--catalog {
  letter-spacing: 0;
}
@media (min-width: 1440px) {
  .contacts__text-street--catalog {
    letter-spacing: 0.96px;
  }
}
.contacts__text-street--form {
  letter-spacing: 0;
}
.contacts__text-city {
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__text-city {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .contacts__text-city {
    text-align: left;
    letter-spacing: 0.44px;
    margin-bottom: 1px;
  }
}
@media (min-width: 1440px) {
  .contacts__text-city--index {
    letter-spacing: 0.14px;
  }
}
.contacts__map {
  background: url("../../img/index/rectangle-mob.png") center center no-repeat;
  height: 362px;
  position: relative;
}
.contacts__map::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 53px;
  background: url("../../img/index/map-pin.png") center center no-repeat;
  top: 46%;
  left: 51%;
  transform: translate(-50%, -50%);
  background-size: 57px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .contacts__map {
    background: url("../../img/index/rectangle-mob@2x.png") center center no-repeat;
    background-size: 320px auto;
  }
  .contacts__map::before {
    background: url("../../img/index/map-pin@2x.png") center center no-repeat;
    background-size: 57px;
  }
}
@media (min-width: 768px) {
  .contacts__map {
    background: url("../../img/index/rectangle-tab.png") center center no-repeat;
    width: 768px;
    height: 400px;
  }
  .contacts__map::before {
    width: 113px;
    height: 106px;
    background-size: 113px 106px;
    top: 50%;
    left: 50.6%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts__map {
    background: url("../../img/index/rectangle-tab@2x.png") center center no-repeat;
    background-size: 768px auto;
  }
  .contacts__map::before {
    background-size: 113px 106px;
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    background: url("../../img/index/rectangle-desk.png") center center no-repeat;
    width: 1440px;
  }
  .contacts__map::before {
    top: 46%;
    left: 67%;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .contacts__map {
    background: url("../../img/index/rectangle-desk@2x.png") center center no-repeat;
    background-size: 1440px auto;
  }
}
.contacts__iframe {
  display: block;
  border: none;
}
@media (min-width: 768px) {
  .contacts__iframe {
    width: 100%;
    height: 400px;
  }
}
.contacts--catalog {
  padding: 1px 0 0;
}

@media (min-width: 1440px) {
  .catalog {
    padding-top: 188px;
  }
}
.catalog__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto 35px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto 75px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto 88px;
  }
}
.catalog__title {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 27px 0 41px;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__title {
    padding: 59px 30px 86px;
    width: 768px;
    border: none;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    width: 1440px;
    padding: 0 110px 90px;
  }
}
.catalog__list {
  display: grid;
  padding: 0;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__list {
    padding: 0 30px;
    width: 768px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    width: 1440px;
    padding: 0 110px;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    margin-bottom: 69px;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 55px 69px 40px;
  padding: 20px 20px 24px;
  border-top: 1px solid #ebebeb;
}
.card:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 37px 40px;
    background-image: linear-gradient(#ffffff 15%, #f2f2f2 15%, #f2f2f2 100%);
    border: none;
    min-height: 511px;
  }
  .card:last-child {
    min-height: 429px;
    align-self: self-end;
  }
}
@media (min-width: 1440px) {
  .card {
    background-image: linear-gradient(#ffffff 14%, #f2f2f2 14%, #f2f2f2 99%, #ffffff 100%);
  }
}
.card--show {
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding: 26px 20px 23px;
}
@media (min-width: 768px) {
  .card--show {
    border: 2px solid #f2f2f2;
    background-image: none;
    padding: 50px 30px 40px;
  }
}
@media (min-width: 1440px) {
  .card--show {
    margin-bottom: 6px;
    padding: 47px 30px 40px;
  }
}
.card__list {
  padding: 0;
}
@media (min-width: 768px) {
  .card__list {
    width: 100%;
    margin: 14px 0 34px;
  }
}
@media (min-width: 1440px) {
  .card__list {
    margin: 19.4px 0 42px;
    max-height: 90px;
    max-width: 169px;
  }
}
.card__item {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card__item {
    padding: 5px 0 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .card__item:nth-last-child(2) {
    padding: 5px 0 7.5px;
  }
}
@media (min-width: 1440px) {
  .card__item:last-child {
    padding: 5px 0 10px;
  }
}
.card__link {
  grid-column: 1;
  grid-row: 1/-2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
@media (min-width: 1440px) {
  .card__link {
    max-height: 196px;
  }
}
.card__title {
  color: #222222;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-right: 50px;
}
@media (min-width: 768px) {
  .card__title {
    padding: 0 60px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 24px 0 0 -1px;
  }
}
.card__title:nth-last-child(2) {
  padding: 0 60px 0;
  margin-left: -2px;
}
@media (min-width: 1440px) {
  .card__title {
    padding: 19px 20px 0;
    margin: 0;
  }
}
.card__item--text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card__item--text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card__price--sapcing {
    word-spacing: 4px;
  }
}
.card__title--show {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 23px 0 8px;
  padding: 0;
}
@media (min-width: 768px) {
  .card__title--show {
    margin: 50px 0 23px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 60px;
  }
}
@media (min-width: 1440px) {
  .card__title--show {
    padding: 0 20px;
    margin: 40px 0 25px;
  }
}
.card__description--show {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .card__description--show {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .card__description--show {
    padding: 0;
    margin-bottom: 90px;
  }
}
.card__link--show {
  color: #444444;
  background-color: #f2f2f2;
  flex-grow: 0;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .card__link--show {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .card__link--show {
    width: 169px;
    margin-top: 1px;
  }
}
.card__link--show:hover, .card__link--show:focus, .card__link--show:active {
  background-color: #ebebeb;
  color: #444444;
}
.card__button {
  grid-column: 1/-1;
}
.card__image {
  display: block;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .card__image {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .card__image {
    max-height: 196px;
  }
}
.card__plus {
  width: 30px;
  height: 30px;
  position: relative;
}
.card__plus::before, .card__plus::after {
  content: "";
  position: absolute;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  background-color: #d3d3d3;
  transform: translate(0, -50%);
}
.card__plus::after {
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .card__plus {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1440px) {
  .card__plus {
    margin: 0 0 -2px 2px;
  }
}

@media (min-width: 1440px) {
  .additional-goods {
    display: grid;
    grid-template-columns: 935px 245px;
    grid-template-rows: 36px 288px;
    gap: 80px;
  }
}
.additional-goods__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .additional-goods__list {
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__list {
    margin: 0;
    padding-left: 41px;
  }
}
.additional-goods__item {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 27px 29.2px 40px;
  padding: 13px 0 19.5px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-goods__item {
    grid-template-columns: 1fr 168px 92px;
    grid-template-rows: 45px 40px;
    padding: 26px 38px 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    margin-bottom: -1px;
  }
}
.additional-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 1440px) {
  .additional-goods__item {
    grid-template-columns: 325px 243px 82px 244px;
    grid-template-rows: auto;
    align-items: center;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}
.additional-goods__title {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 25px 0 36px;
  margin: 0;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
}
.additional-goods__title::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  background-color: #68b738;
  top: 40px;
  right: -20px;
  z-index: -1;
}
@media (min-width: 768px) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    border: none;
    background-color: #ffffff;
    max-width: 419px;
    padding: 0 40px;
  }
  .additional-goods__title::before {
    width: 384%;
    left: -100%;
    top: 23px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__title {
    grid-column: 1/-1;
    margin-bottom: 0;
  }
  .additional-goods__title::before {
    width: 1440px;
    left: -17%;
    top: 24px;
  }
}
.additional-goods__subtitle {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .additional-goods__subtitle {
    grid-column: 1;
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-goods__volume {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-goods__volume {
    font-size: 16px;
    line-height: 20px;
    padding-top: 2px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .additional-goods__volume {
    text-align: left;
  }
}
.additional-goods__volume--margin {
  margin-left: 2px;
}
@media (min-width: 768px) {
  .additional-goods__volume--margin {
    margin-left: 0;
  }
}
.additional-goods__price {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}
@media (min-width: 768px) {
  .additional-goods__price {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-right: 2px;
    margin-top: 1px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__price {
    text-align: left;
    margin-top: 2px;
  }
}
.additional-goods__button {
  grid-column: 1/-1;
}
@media (min-width: 1440px) {
  .additional-goods__button {
    grid-column: 4;
  }
}
.additional-goods__aside {
  background: url("../../img/catalog/mobile/cat-prize-mob.jpg") center center no-repeat;
  padding: 57px 61px 43px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .additional-goods__aside {
    background: url("../../img/catalog/mobile/cat-prize-mob@2x.jpg") center center no-repeat;
    background-size: 279px auto;
  }
}
.additional-goods__aside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .additional-goods__aside {
    background: url("../../img/catalog/tablet/cat-prize-tab.jpg") center center no-repeat;
    padding: 54px 125px 61px 77px;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .additional-goods__aside {
    background: url("../../img/catalog/mobile/cat-prize-tab@2x.jpg") center center no-repeat;
    background-size: 707px auto;
  }
}
@media (min-width: 1440px) {
  .additional-goods__aside {
    background: url("../../img/catalog/desktop/cat-prize-desk.jpg");
    flex-direction: column;
    padding: 56px 42px 43px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .additional-goods__aside {
    background: url("../../img/catalog/desktop/cat-prize-desk@2x.jpg") center center no-repeat;
    background-size: 245px auto;
  }
}
.additional-goods__aside-icon {
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../../img/icon/stak.svg#gift");
  background-repeat: no-repeat;
  margin-bottom: 47px;
  position: relative;
}
@media (min-width: 768px) {
  .additional-goods__aside-icon {
    margin-bottom: 0;
    margin-top: 3px;
    width: 80px;
    height: 83px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__aside-icon {
    margin-bottom: 37px;
    margin-top: 1px;
    width: 82px;
    height: 85px;
  }
}
.additional-goods__aside-text {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .additional-goods__aside-text {
    width: 161px;
    margin-left: auto;
    text-align: left;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__aside-text {
    text-align: center;
    margin-left: 0;
  }
}

.form {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .form {
    margin-bottom: 79px;
  }
}
.form__title {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
}
.form__text {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 320px;
}
@media (min-width: 768px) {
  .data {
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .data {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
    margin-bottom: 22px;
  }
}
.data__list {
  padding: 22px 20px 24px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
}
@media (min-width: 768px) {
  .data__list {
    padding: 22px 0 24px;
    border: none;
    margin: 0 0 48px;
  }
}
@media (min-width: 1440px) {
  .data__list {
    padding: 0;
  }
}
.data__program {
  padding: 28px 20px 24px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  display: grid;
  gap: 9px;
}
@media (min-width: 768px) {
  .data__program {
    padding: 27px 27px 30px;
    border: 1px solid #e7e7e7;
    margin-bottom: 40px;
    gap: 3px;
  }
}
@media (min-width: 1440px) {
  .data__program {
    padding: 22px 27px 24px;
    gap: 0;
    margin-bottom: 47px;
  }
}
.data__item {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .data__item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .data__item {
    margin-bottom: 19px;
  }
}
.data__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .data__item--margin {
    margin-bottom: 10px;
  }
}
.data__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 14px;
  white-space: nowrap;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .data__label {
    font-size: 20px;
    line-height: normal;
  }
}
.data__input {
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 10px 15px 9px;
  border: none;
  outline: 1px solid #e7e7e7;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .data__input {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
  }
}
.data__input:hover {
  outline-color: #cdcdcd;
}
.data__input:focus {
  outline: 2px solid #444444;
}
.data__radio {
  margin: 0;
}
.data__mask {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  outline: 1px solid #cdcdcd;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .data__mask {
    width: 40px;
    height: 40px;
  }
}
.data__mask:hover, .data__mask:focus {
  outline-color: #bababa;
}
.data__radio[type=radio]:checked + .data__mask::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 49%;
  width: 15px;
  transform: translate(-50%, -50%);
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .data__radio[type=radio]:checked + .data__mask::before {
    width: 20px;
    height: 20px;
  }
}
.data__radio[disabled] ~ .data__mask {
  opacity: 0.3;
}
.data__radio[disabled] ~ .data__text {
  opacity: 0.3;
}
.data__text {
  padding-left: 45px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .data__text {
    padding-left: 59px;
    font-size: 20px;
    line-height: normal;
  }
}

.owner {
  padding: 26px 17px 26px;
  border: none;
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: grid;
  gap: 36px;
}
.owner::before {
  content: "";
  position: absolute;
  width: 93px;
  height: 2px;
  background-color: #68b738;
  top: 42px;
  right: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .owner {
    width: 768px;
    margin: 0 auto;
    padding: 26px 30px 24px;
    gap: 76px;
  }
  .owner::before {
    width: 768px;
    left: 0%;
    top: 49px;
  }
}
@media (min-width: 1440px) {
  .owner {
    width: 1440px;
    padding: 0 70px;
    gap: 77px;
  }
  .owner::before {
    width: 1440px;
    left: 0%;
    top: 23px;
  }
}
.owner__title {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  float: left;
}
@media (min-width: 768px) {
  .owner__title {
    padding: 0 40px;
    max-width: 594px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .owner__title {
    letter-spacing: -0.1px;
  }
}
.owner__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
  margin-left: 2px;
  white-space: nowrap;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .owner__label {
    font-size: 20px;
    line-height: normal;
  }
}
.owner__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 15px;
}
@media (min-width: 768px) {
  .owner__list {
    padding: 0 38px;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .owner__list {
    display: grid;
    grid-template-columns: 569px 572px;
    gap: 81px;
    margin: 0 0 70px;
  }
}
.owner__item {
  list-style: none;
  display: flex;
}
.owner__input {
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 11px 15px 8px;
  border: none;
  outline: 1px solid #e7e7e7;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .owner__input {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
  }
}
.owner__input:hover {
  outline-color: #cdcdcd;
}
.owner__input:focus {
  outline: 2px solid #444444;
}
.owner__item--email {
  position: relative;
}
.owner__item--email::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 16px;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("../../img/icon/stak.svg#email");
          mask-image: url("../../img/icon/stak.svg#email");
  background-color: #000000;
  background-repeat: no-repeat;
  z-index: 2;
}
@media (min-width: 1440px) {
  .owner__item--email::before {
    right: 13px;
  }
}
.owner__item--phone {
  position: relative;
}
.owner__item--phone::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 16px;
  width: 20px;
  height: 25px;
  -webkit-mask-image: url("../../img/icon/stak.svg#phone");
          mask-image: url("../../img/icon/stak.svg#phone");
  background-color: #000000;
  background-repeat: no-repeat;
  z-index: 2;
}

.comment {
  border: none;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto 23px;
  position: relative;
}
.comment::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 2px;
  background-color: #68b738;
  top: 15px;
  right: 0;
}
@media (min-width: 768px) {
  .comment {
    width: 768px;
    margin: 0 auto 41px;
    padding: 40px 30px 24px;
  }
  .comment::before {
    width: 768px;
    z-index: -1;
    left: 0;
    top: 64px;
  }
}
@media (min-width: 1440px) {
  .comment {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto 71px;
  }
  .comment::before {
    width: 1440px;
    height: 2px;
    z-index: -1;
    left: 0%;
    top: 22px;
  }
}
.comment__title {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 38px;
  padding: 0;
  float: left;
}
@media (min-width: 768px) {
  .comment__title {
    margin: 0 0 89px;
    padding: 0 40px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .comment__title {
    margin: 0 0 78px;
  }
}
.comment__area {
  width: 100%;
  min-height: 148px;
  resize: none;
  padding: 14px 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: none;
  outline: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .comment__area {
    padding: 10px 21px;
    margin: 0 40px;
    width: 88.5%;
    font-size: 20px;
    line-height: 30px;
    min-height: 173px;
  }
}
@media (min-width: 1440px) {
  .comment__area {
    width: 93.8%;
  }
}
.comment__area:hover {
  outline-color: #cdcdcd;
}
.comment__area:focus {
  outline: 2px solid #444444;
}

.additionally {
  margin: 0 auto 33px;
  border: none;
  width: 320px;
  padding: 0 20px;
  display: grid;
  position: relative;
}
.additionally::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: #68b738;
  top: 15px;
  right: 0;
}
@media (min-width: 768px) {
  .additionally {
    width: 768px;
    margin: 0 auto 50px;
    padding: 0 30px;
  }
  .additionally::before {
    width: 768px;
    height: 2px;
    z-index: -1;
    left: 0%;
    top: 24px;
  }
}
@media (min-width: 1440px) {
  .additionally {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto 57px;
  }
  .additionally::before {
    width: 1440px;
    height: 2px;
    z-index: -1;
    left: 0%;
    top: 24px;
  }
}
.additionally__title {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  float: left;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: -3px;
}
@media (min-width: 768px) {
  .additionally__title {
    padding: 0 42px;
    background-color: #ffffff;
    max-width: 295px;
    margin-bottom: 63px;
    font-size: 36px;
    line-height: 36px;
  }
}
.additionally__text {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .additionally__text {
    font-size: 20px;
    line-height: normal;
    padding-left: 60px;
  }
}
.additionally__list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 15px;
}
@media (min-width: 768px) {
  .additionally__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .additionally__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}
.additionally__item {
  list-style: none;
}
.additionally__label {
  display: flex;
  align-items: center;
  position: relative;
}
.additionally__mark {
  position: absolute;
  top: -5px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  outline: 1px solid #cdcdcd;
}
.additionally__mark:last-child {
  top: -7px;
}
@media (min-width: 768px) {
  .additionally__mark {
    width: 40px;
    height: 40px;
  }
}
.additionally__input[type=checkbox]:checked + .additionally__mark::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon/stak.svg#check-mark");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  top: 46%;
  left: 47%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .additionally__input[type=checkbox]:checked + .additionally__mark::before {
    width: 26px;
    height: 26px;
    top: 57%;
    left: 53%;
  }
}

.page-form {
  margin-top: 27px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .page-form {
    margin-top: 59px;
  }
}
@media (min-width: 1440px) {
  .page-form {
    margin: 0;
  }
}
.page-form__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-form__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-form__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 188px 70px 0;
  }
}
.page-form__title {
  margin: 0 0 37px;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0 40px;
    margin: 0 0 56px;
  }
}
.page-form__text {
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .page-form__text {
    padding: 0 41px 24px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .page-form__text {
    padding: 0 40px;
    margin-bottom: 66px;
  }
}

.box {
  width: 320px;
  padding: 0 20px;
  display: grid;
  gap: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .box {
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
    grid-template-columns: 284px 176px;
    gap: 59px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .box {
    width: 1440px;
    padding: 0 110px;
    grid-template-columns: 570px 174px;
    gap: 80px;
  }
}
.box__button {
  max-width: 570px;
}
@media (min-width: 768px) {
  .box__button {
    padding: 13px 10px;
    font-size: 20px;
    line-height: 26px;
  }
}
.box__description {
  font-family: "Lato", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: 3px;
}
@media (min-width: 768px) {
  .box__description {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.footer {
  padding: 20px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding: 36.5px 31px;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 1440px;
    padding: 47.5px 110px;
  }
}
.footer__logo {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__logo {
    border: none;
    width: auto;
    padding: 24px 0 20px;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    padding: 19px 0 20px;
  }
}
.footer__logo-image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__logo-image {
    margin: 0;
  }
}
.footer__academy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__academy {
    border: none;
    width: auto;
    justify-content: baseline;
  }
}
.footer__academy-text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__academy-text {
    margin-right: 21px;
  }
}
@media (min-width: 1440px) {
  .footer__academy-text {
    margin-right: 23px;
  }
}

.social-list {
  margin: 0;
  padding: 19px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 132px;
}
@media (min-width: 768px) {
  .social-list {
    margin-left: 37px;
    padding: 24px 0 20px;
  }
}
@media (min-width: 1440px) {
  .social-list {
    margin-left: 34px;
    padding: 21px 0 20px;
  }
}
.social-list__item {
  list-style: none;
  margin-right: 24px;
}
.social-list__item:last-child {
  margin-right: 0;
}
.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
}
.social-list__link--vk {
  background: url("../../img/icon/vkontakte.svg") center center no-repeat;
}
.social-list__link--youtube {
  background: url("../../img/icon/youtube.svg") center center no-repeat;
}
.social-list__link--telegram {
  background: url("../../img/icon/telegram.svg") center center no-repeat;
}