@import "./blocks/common.scss";
@import "./blocks/fonts.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/hero.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/additional-goods.scss";
@import "./blocks/form.scss";
@import "./blocks/data.scss";
@import "./blocks/owner.scss";
@import "./blocks/comment.scss";
@import "./blocks/additionally.scss";
@import "./blocks/page-form.scss";
@import "./blocks/box.scss";
@import "./blocks/footer.scss";
@import "./blocks/social-list.scss";
